<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ page.title }}</title>

    <!-- Hard coding bower packages for now, see end for js -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/custom_assets/main.css">

    <!-- Maybe add these as a fallback, but local resources are necessary for
         dev without internet

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">

      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- we can figure out how to make the current page's <li>
              class="active" and get highlighting. -->
                <li> <a href="/index.html">about</a> </li>
                <li> <a href="/downloads.html">downloads</a> </li>
                <li> <a href="/laptop-installation.html">install</a> </li>
                <li> <a href="/use.html">use</a> </li>
                <li> <a href="/help.html">help</a> </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container">
        <div class="row">
            <!-- We put this on top on small screens, but on the right on wide
            screend -->
            <div class="col-md-4 col-md-push-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Getting help with BCE</h3>
                    </div>
                    <div class="panel-body">

            {% capture meeting_info %}{% include info.md %}{% endcapture %}
            {{ meeting_info | markdownify }}

                    </div>

                </div>
            </div>
            <div class="col-md-8 col-md-pull-4">

            {{ content }}

            </div>
        </div>

      </div>

    </div><!-- wrap -->

    <div id="footer">
        <p>
          <a href="https://github.com/ucberkeley/bce-documentation">
              Contribute to this documentation on GitHub</a>
          <!-- &ndash;
          <a href="mailto:davclark@berkeley.edu">Contact</a> -->
        </p>
    </div>


    <!-- Scripts at end to speed page load -->
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js">
      </script>

  </body>
</html>
